header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

body {
    height: 200vh;
}

section1 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 2rem;     
}

h1 {
    font-size: 40px;     
    text-align: center;  
}

h2 {
    font-size: 30px;     
    text-align: center;  
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 2rem;               
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 2rem;
}   

footer {
    display: flex;               
    justify-content: center;    
    align-items: center;  
}